ARCHIVED/
tipp3_output/
.tipp/
__pycache__
*.pyc
home.path
main.config
*.swp
examples/*.zip
examples/feeder.py
examples/job.info
examples/*.out
examples/*_scenario*
build/
*.egg-info/
.ipynb_checkpoints
ncbi_taxonomy.db
taxdmp.zip
