# Custom config file for users to define
# Empty fields will not be read
[Basic]
refpkg_path      =
alignment_method =
placement_method =
pplacer_path     =
bscampp_path     =
blastn_path      =
witch_path       =

[WITCH]
mode                    =
num_hmms                =
use_weight              =
save_weight             =
bypass_setup            =
alignment_size          =
alignment_upper_bound   =

[BLAST]
threshold =

[Refpkg]
exclusion=
