# parameters can be set from main.config
# this is just an example file as the default configuration.
[Basic]
alignment_method =
placement_method =
pplacer_path     =
bscampp_path     =
blastn_path      =
witch_path       =

# default WITCH setup is included
[WITCH]
mode                    = witch-ng
num_hmms                = 1
use_weight              = True 
save_weight             = False
bypass_setup            = True
alignment_size          = 10
alignment_upper_bound   = 1000

# default BLAST setup is included
[BLAST]
outfmt = 0
